<% provide(:title, 'About') %>

<h1>About Our New "Fuel" App</h1>
<div class="row">
  <div class="col-md-8">
	
	<p>This is an exciting time for both myself and for clients.  I spend alot of time reading industry blogs and whitepapers to stay on top of the latest trends in Online Marketing, website design, landing page/conversion optimization and more.  Recently I began learning a new programming language that is used to power some of the most popular websites, called Ruby on Rails.  </p>

	<p>This is my first application built with Ruby on Rails.  There are currently two components - an Asset Library and a Marketing Plan platform called "Marketing Fuel". </p>

	<h3>Marketing Fuel</h3>
	<p>With the 


	<h3>Asset Library</h3>
	<p>you can upload pictures and descriptions for me to use in your website, digital marketing, and social media campaigns.   </p>

	</div> <!-- end col md 8 -->

    <%= render 'layouts/sidebar' %>

</div><!-- end row -->