<% provide(:title, 'About') %>

<h1>About Our New "Fuel" App</h1>
<div class="row">
  <div class="col-md-8">
	
	<p>- <i>By Andre LaFlamme, founder PMCJAX</i></p>

	<p>This is an exciting time for both myself and for all of our clients.  I spend alot of my free time reading industry blogs and whitepapers to stay on top of the latest trends in Online Marketing, website design, landing page/conversion optimization and staying current on all the ways I can help grow your business.  Recently I began learning a new programming language that is used to power some of the most popular Web Applications, called <strong>Ruby on Rails</strong>.  </p>

	<h3>Marketing Profile</h3>
	<p>This web application allows you to login and provide critical business and marketing information that we need for our projects by creating a "<strong>Marketing Profile</strong>".  This information had previously been collected through one or more phone calls, and I would save it into a program that only I could access.  Using this web application, you can now view or modify your Marketing Profile at any time.<p>

	<h3>Asset Library</h3>
	<p>Another feature I'm very excited about is the "<strong>Asset Library</strong>".  The asset library is a personal cloud storage platform for images, which you will use to provide images to us for your website and marketing campaigns.  Much like the popular website "Pinterest", the Asset Library includes a description with each image. When you upload your images with a brief description, we know exactly how to use the image to market your business.  And if you redecorate or remodel, you can delete the outdated images or update them with a new image!  You can view all of the contents of your Asset Library anytime, and now you'll never wonder which images we have on file.</p> 

	<h3>Additional Features Coming Soon</h3>
	<p>In the near future, I will be creating a File Library to allow you to upload PDF files and Word Documents.  We rely on images much more than documents for our marketing and design projects, so email is currently sufficient for passing documents back and forth.  I'd love to hear your ideas and suggestions.  <strong>Send me an email or a tweet and let me know!</strong></p> 

	<p>Most of all thank you for being a client of PMCJAX, I truly enjoy helping businesses succeed online and I look forward to our lasting partnership and mutual success.<br /><br />
	Kind regards,<br />
	Andre</p>

	<br />
	<div class="greyhorizontal"></div>

	<h3>What is the difference between Website and Web Application?</h3>
	<p>A "website" is best described as a marketing and lead generation tool created with HTML, CSS and JavaScript.  The HTML, CSS and Javascript are combined to show information to visitors through the User Interface (UI), frequently referred to as "front-end".  Our websites - when combined with our professional Internet Marketing services - actively create leads for our clients.  Some of our websites generate more than 50 percent of new sales for our clients, and they don't even have to pay it a full-time salary!</p>

	<p>A "Web Application" combines a website (front-end) with a programming language, and is connected to a database "back-end".  Programming languages allow for custom information to be presented to the visitor based on visitor interaction.  With a web application, visitors can login, create things, and what they see on the screen (User Interface) changes based on whether they are logged-in and what they have created.</p>



	</div> <!-- end col md 8 -->

    <%= render 'layouts/sidebar' %>

</div><!-- end row -->