	<% provide(:title, 'Home') %>

<div class="jumbotron center bigtopmargin">
  <h1 class="nomargin">Our Success Starts Here</h1>
  
    <% if user_signed_in? %>
    <hr />
      <p>The Marketing Profile provides critical information about your business and goals.<br />
        Your Asset Library is a cloud storage platform for all project images, logos, and documents.</p>
    <% else %>
      <p class="bigtopmargin">
      <%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      </p>
    <% end %>
    
  
</div>

<div class="row">

  <div class="col-md-6">
    <div class="cta-home center">
      <%= link_to plans_path do %>
        <span class="glyphicon glyphicon-fire glyphicon-cta"></span>
        <h2>Marketing Profile</h2>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="cta-home center">
      <%= link_to pins_path do %>
        <span class="glyphicon glyphicon-cloud-upload glyphicon-cta"></span>
        <h2>Asset Library</h2>
      <% end %>
    </div>
  </div>

</div>

