<h1>New Marketing Profile</h1>


<div class="row">
    <div class="col col-md-8">

		<%= render 'form' %>

		<%= link_to plans_path do %>
			<span class="glyphicon glyphicon-arrow-left"></span> Back
		<% end %>
		
	</div> <!-- end col md 8 -->
    <%= render 'layouts/sidebar' %>
</div><!-- end row -->

