    <div class="col-md-4 sidebar">
    	
	    <div class="well">
	    	<h4>Let's get connected:</h4>
			<ul class="social">
    			<li><a class="fb" href="https://www.facebook.com/pmcjax" target="_blank"><span>Facebook</span></a></li>
    			<li><a class="tw" href="https://www.twitter.com/pmcjax" target="_blank"><span>Twitter</span></a></li>
    			<li><a class="yt" href="https://www.youtube.com/user/PMCJAX" target="_blank"><span>YouTube</span></a></li>
    			<li><a class="lk" href="https://www.linkedin.com/profile/view?id=45944740" target="_blank"><span>LinkedIn</span></a></li>
    			<li><a class="gplus" href="https://plus.google.com/b/111971729844058762047/111971729844058762047/posts" target="_blank"><span>LinkedIn</span></a></li>
    		</ul>	    
    	</div>
      <!--<div class="panel panel-default">
        <div class="panel-heading">
          <h4>Sidebar Heading</h4>
        </div>
        <div class="panel-body">

        </div>
      </div>-->
    </div>